

  /* 自定义下拉菜单的样式 */

.nav-item {
    padding: 0.5rem 0xp;
  }
  
  .dropdown-hover:hover>.dropdown-menu {
  display: inline-block;
  }
  
  .dropdown-hover>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
  }

  .multi-column-dropdown {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%; /* 根據需要調整最大寬度 */
  }
  
  .multi-column-dropdown .dropdown-sidebar-link {
    flex: 1 1 200px; /* 控制每個選單項目的最小寬度 */
    white-space: nowrap;
    padding: 8px 16px;
    box-sizing: border-box;
    color: #FFF;
    text-decoration: none;
  }
  
  .multi-column-dropdown .dropdown-sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
  }